In [1]:
import shutil
import pandas as pd

In [2]:
news_sites_df = pd.read_csv('iq_sites_list_rated(updated).csv')
print(news_sites_df.shape)
news_sites_df.head(1)

(241, 4)

      news_site                   url  rate Unnamed: 3
0  creteplus.gr  https://creteplus.gr  high        NaN

In [3]:
news_sites_df['rate'].unique()

array(['high', 'low'], dtype=object)

In [4]:
news_sites_df['Unnamed: 3'].unique()

array([nan, 'CY', 'sports website', 'not found', 'non news site',
       'travel website', 'non news site / CY', 'UK',
       'sports website / CY'], dtype=object)

In [5]:
news_sites_df[~news_sites_df['Unnamed: 3'].isna()].count()

news_site     49
url           49
rate          49
Unnamed: 3    49
dtype: int64

In [6]:
news_sites_df2 = news_sites_df[news_sites_df['Unnamed: 3'].isna()]
news_sites_df2.shape

(192, 4)

In [7]:
news_sites_df2.groupby('rate')[['news_site']].count()

      news_site
rate
high        106
low          86

**Για το dataset "iqcsv" (2016)**

In [8]:
# iqcsv_main_path = '0_innews_data_sets/iqcsv/'
# highq_folder_path = 'high_quality_sites'
# lowq_folder_path = 'low_quality_sites'
# for index, row in news_sites_df2.iterrows():
#     original_csv = iqcsv_main_path + row['news_site'] + '.csv'
#     if row['rate'] == 'high':
#         shutil.copy(original_csv, highq_folder_path)
#     elif row['rate'] == 'low':
#         shutil.copy(original_csv, lowq_folder_path)

**Για το dataset "exports_2017"**

In [10]:
exp_2017_main_path = '0_innews_data_sets/exports_2017/'
highq_folder_path = 'high_quality_sites/2017-2018/'
lowq_folder_path = 'low_quality_sites/2017-2018'
for index, row in news_sites_df2.iterrows():
    try:
        original_csv = exp_2017_main_path + row['news_site'] + '.csv'
        if row['rate'] == 'high':
            shutil.copy(original_csv, highq_folder_path)
        elif row['rate'] == 'low':
            shutil.copy(original_csv, lowq_folder_path)
    except:
        pass

**Για το dataset "exports_2022"**

In [11]:
exp_2022_main_path = '0_innews_data_sets/exports_2022/'
highq_folder_path = 'high_quality_sites/2022-2023/'
lowq_folder_path = 'low_quality_sites/2022-2023'
for index, row in news_sites_df2.iterrows():
    try:
        original_csv = exp_2022_main_path + row['news_site'] + '.csv'
        if row['rate'] == 'high':
            shutil.copy(original_csv, highq_folder_path)
        elif row['rate'] == 'low':
            shutil.copy(original_csv, lowq_folder_path)
    except:
        pass